.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0,0,0, .1);
}

.itemName b, .itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    background-color: var(--mainColor);
    border-radius: 10px;
    text-decoration: none;
    margin-top: 8px;
    padding: 8px;
    display: block;
    color:#fff;
    text-align: center;
    font-weight: bold;
}
.itemLink:hover{
    background-color: #000;
}